* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;

  font-family: arial;
}

#root {
  max-width: 850px;

  @media screen and (min-width: 800px) {
    min-width: 800px;
  }
}

.page-heading {
  position: relative;

  .back-button {
    vertical-align: middle;
    height: 50%;
    transform: rotate(180deg);
    position: absolute;
    top: 50%;

    @media screen and (max-width: 600px) {
      position: fixed;
      height: 33px;
      top: 0;
      left: 0.5rem;

      img {
        height: 30px;
        width: 30px;
      }
    }
  }
}

.page-title {
  text-align: center;
}
