.art-settings {
    margin-top: 1rem;
    padding: 1rem;

    background-color: #f1f1f1;
}

.modifier-heading {
    margin: 0 0 0.5rem 0;

    color: #4c4c4c;
    font-weight: bold;
    text-align: center;
}