label.artwork-setting {
    display: flex;
}

div.setting-group {
    display: flex;
}

input[type=checkbox] {

}

input[type=range] {

}

.art-setting {
    input[type=text],
    input[type=number] {
        max-width: 3rem;
    }
}
